<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/bf7096817b.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Saira+Stencil+One&family=Ubuntu+Condensed&display=swap"
    rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand ml-3" href="/">
      我的餐廳清單
    </a>
    <button type="button" class="btn mr-3">
      <a href="/restaurants/new" style="text-decoration: none; color: #ccc"><i class="fas fa-utensils mr-1"></i>CREATE
        NEW
        RESTAURANT</a>
    </button>
  </nav>



  <div class="banner">
  </div>
  <h1 class="banner-title ml-5">TO EAT, TO GO</h1>

  <div class="row justify-content-end mr-5">
    <div class="dropdown mr-3">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        排序
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/?sorting=_id-asc">創建: 新到舊</a>
        <a class="dropdown-item" href="/?sorting=_id-desc">創建: 舊到新</a>
        <a class="dropdown-item" href="/?sorting=category">餐廳類別</a>
      </div>
    </div>

    <form action="/restaurants/search">
      <div class="input-group">
        <button class="search-btn" type="submit" id="search-button"><i class="fas fa-search"></i></button>
        <input type="text" name="keyword" value="{{keyword}}" placeholder="餐廳、分類" aria-label="Restaurant Name..."
          aria-describedby="search-button" class="search-input">
      </div>
    </form>
  </div>

  </header>


  {{{ body }}}

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>