<form action='/restaurants' method="POST">
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <p class="col-12"><span style="color: #b92a2a; font-size: 1.5em">*</span>為必填</p>
      <div class="form-group col-12 col-md-10">
        <p><span style="color: #b92a2a; font-size: 1.5em">*</span>餐廳名稱：</p>
        <input type="text" class="form-control" name="name" required="required">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>英文名稱：</p>
        <input type="text" class="form-control" name="name_en">
      </div>
      <div class="form-group col-12 col-md-10">
        <p><span style="color: #b92a2a; font-size: 1.5em">*</span>類別：</p>
        <input type="text" class="form-control" name="category" required="required">
      </div>
      <div class="form-group col-12 col-md-10">
        <p><span style="color: #b92a2a; font-size: 1.5em">*</span>圖片：</p>
        <input type="text" class="form-control" name="image" placeholder="https://..." required="required">
      </div>
      <div class="form-group col-12 col-md-10">
        <p><span style="color: #b92a2a; font-size: 1.5em">*</span>地址：</p>
        <input type="text" class="form-control" name="location" required="required">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>電話：</p>
        <input type="text" class="form-control" name="phone">
      </div>
      <div class="form-group col-12 col-md-10">
        <p><span style="color: #b92a2a; font-size: 1.5em">*</span>GOOGLE地圖：</p>
        <input class="form-control" type="text" placeholder="https://goo.gl/maps/..." name="google_map">
      </div>
      <div class="form-group col-12 col-md-10">
        <p><span style="color: #b92a2a; font-size: 1.5em">*</span>GOOGLE評分：</p>
        <input type="text" class="form-control" name="rating" placeholder="e.g. 4.5" required="required">
      </div>
      <div class="form-group col-12 col-md-10">
        <p><span style="color: #b92a2a; font-size: 1.5em">*</span>描述：</p>
        <textarea class="form-control" name="description" rows="5" required="required"></textarea>
      </div>
      <div class="col-12
       row justify-content-end mt-5 mb-3">
        <button type="submit" class="btn btn-secondary mr-2">Submit</button>
        <button class="btn btn-secondary mr-2">
          <a href="/" style="text-decoration: none; color:#ccc">Close</a>
        </button>
      </div>
    </div>
</form>