<form action='/restaurants' method="POST">
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="form-group col-12 col-md-10">
        <p>餐廳名稱：</p>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>英文名稱：</p>
        <input type="text" class="form-control" name="name_en">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>類別：</p>
        <input type="text" class="form-control" name="category">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>圖片：</p>
        <input type="text" class="form-control" name="image">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>地址：</p>
        <input type="text" class="form-control" name="location">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>電話：</p>
        <input type="text" class="form-control" name="phone">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>地圖：</p>
        <input type="text" class="form-control" name="google_map">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>評分：</p>
        <input type="text" class="form-control" name="rating">
      </div>
      <div class="form-group col-12 col-md-10">
        <p>說明：</p>
        <textarea class="form-control" name="description" rows="5">
        </textarea>
      </div>
      <div class="form-group col-12
       row justify-content-end mt-5">
        <button type="submit" class="btn btn-secondary mr-2">Submit</button>
        <button class="btn btn-secondary m2-2">
          <a href="/" style="text-decoration: none; color:#ccc">Close</a>
        </button>
      </div>
    </div>
</form>