header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #b92a2a;
}

.navbar .navbar-brand:hover {
  color: #6e5656;
}

.search-btn {
  border-bottom: 1px solid #aaa;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background: transparent;
}

.search-input {
  width: 220px;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  text-indent: 4px;
  background: transparent;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 250px;
  background: #dddddd center center
    url('https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  filter: blur(3px);
}

.banner-title {
  color: rgb(109, 105, 105);
  font-family: 'Saira Stencil One', cursive;
  font-size: 60px;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.btn {
  width: 5rm;
  border: 1.5px solid #ccc;
  letter-spacing: 0.1em;
  border-radius: 0px;
  color: #ccc;
}

.restaurant-show-title-border {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.restaurant-show-title-border:before,
.restaurant-show-title-border:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.restaurant-show-title-border:before {
  left: 10px;
}
.restaurant-show-title-border:after {
  right: 10px;
}

.restaurant-show-title {
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

.description {
  line-height: 2;
  letter-spacing: 0.1em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

style='letter-spacing: 0.1em; line-height: 2;'
  .
  @media
  screen
  and
  (max-width: 992px) {
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}
